.title{
    color: aliceblue;
}


.create-form{
    background-color: rgb(0, 0, 0);    
    margin: 100px auto;
    width: 800px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.label{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.top-wraper{
    align-items: center;
}

.isian{
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    color: green;
}