body {
  background-color: #202020;
}

.container{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
  gap: 30px;
  border-radius: 20px;
  align-items: center;
}

.card {  
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #e7e7e7;
  color: white;
  background-color: grey;
  border-radius: 4px;
  display: flex;
  border-radius: 4px;
}

.card_content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 50px 50px 50px 50px;

}

img {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 40vh;
  margin: 50px 50px 50px 50px;
}

.card_button {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  font-size: 15px;
  padding: 15px;
  background-color: #000000;
  box-shadow: 1px 2px rgb(119, 119, 119);
}

.card_button:active {
  box-shadow: none;
  top: 2px;
}


/* 

.card-wrap {
  background-color: rgb(94, 93, 93);
  border: 2px solid #0a2e01;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 0px;
} */